<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- title %>
  <%- style %>
</head>
<body>
  <!-- 加－是不需要转译，　加等号是需要转译　-->
  <div id="root">
    <%- appString %>
  </div>
  <%- scripts %> 
</body>
</html>
